<html>
<title>ABOUT</title>
<head>
</head>
<body>
<!-----------------navigation bar------------------>
{% include "navigationbar.html" %}
<!------------------- end navigation bar --------->

<u><h1><i><center>ABOUT</center></i></h1></u>
<p><i>A car rental, hire car, or car hire agency is a company that rents automobiles for short periods of time to the public, generally ranging from a few hours to a few weeks. It is often organized with numerous local branches (which allow a user to return a vehicle to a different location), and primarily located near airports or busy city areas and often complemented by a website allowing online reservations.

Car rental agencies primarily serve people who require a temporary vehicle, for example, those who do not own their own car, travelers who are out of town, or owners of damaged or destroyed vehicles who are awaiting repair or insurance compensation. Car rental agencies may also serve the self-moving industry needs, by renting vans or trucks, and in certain markets, other types of vehicles such as motorcycles or scooters may also be offered.

Alongside the basic rental of a vehicle, car rental agencies typically also offer extra products such as insurance, global positioning system (GPS) navigation systems, entertainment systems, mobile phones, portable WiFi and child safety seats.
<p><i>Overall I am very satisfied with our 2010 performance across all key measures and business lines. First and foremost, we had a solid year of operational excellence including industry-leading safety performance and strong environmental management. By focusing first on safe operations, we know that it will lead to excellence in our overall operations.

We delivered strong financial and operating results. Imperial generated earnings of $2.2 billion in 2010, compared to $1.6 billion in 2009.

We maintained an industry-leading return on capital employed of 21%, up from 17% in 2009. That’s even more impressive when you consider that last year saw record investment in capital growth projects. Each business segment had double digit returns.

Our financial strength enabled us to invest through the business cycle and internally fund 80% of our record capital and exploration expenditures of $4 billion. We maintained a strong balance sheet with a ratio of debt to total capital of 7%. Imperial Oil is the only Canadian industrial company with a Triple A rating from Standard & Poor’s.

Proved reserves at year end were 2.5 billion oil equivalent barrels; representing 28 years of coverage at current production rates. And non proved resource exceeds 13 billion oil-equivalent barrels.

This is only the beginning of what will be a decade of growth for Imperial. Over the next ten years, we are planning to invest between $35 and $40 billion. We’ll talk in detail about these growth opportunities later on.

Now I would like to review our safety performance as a key indicator of how well our company is operating.

</i></p>
</i></p>
<!--------------------------------footer start----------------------->
{% include "footer.html" %}
<!-------------------------------footer end----------------------->
</body>
</html>