<html>
    <head>
        <title>CONTACT</title>
    </head>
    <body>
        <!-----------------navigation bar------------------>
       {% include "navigationbar.html" %}
       <!------------------- end navigation bar --------->
       <center><i><b><u>CONTACT DETAILS</u></b></i></center>
       <center><img src="/static/cars2.jfif" width=50% ><br>
       <p>MOBILE NO.-9193950958</p>
       <p>ALTERNATE MOBILE NO.-7078566383</p>
       <p>EMAIL ID.-prabhat.kashyap.cse.2020@miet.ac.in</p></center>
       <!--------------------------------footer start----------------------->
       {% include "footer.html" %}
       <!-------------------------------footer end----------------------->
    </body>
</html>

