<html>
<title>MAHINDRA_MARAZZRO</title>
<head>
</head>
<body>
<center><h1><b>MAHINDRA MARRAZORA</b></h1></center>
<center>
<img
src="marazora3.jpg" width="50%"></center>
<center><b>RENT PRICES</b></center>
<center><table border=1 height="">
<tr><td>prices</td><td>$10 per hr</td>
<tr><td>mode of ammount</td><td>online</td>
<tr><td>Link for booking</td><td>www.PK Rental Cars.com</td>
<tr><td>contact</td><td>9193950958</td>

<center><table border=0>
<tr><th>engine</th></tr>
<tr><td>emisssion</td><td>BS VI</td></tr><tr><td>Cubic Capicty</td><td>1497<td></tr>
<tr><td>max.power</td><td>90.2kw</td>
<tr><td>max.torque</td><td>300Nm</td>
<tr><td>transmisssion type</td><td>6 speed Manual</td>
</table></center>
<img
src="marazora1.webp" width="50%" align="center">
<img
src="marazora2.webp" width="50%">

<video width="" height="" autoplay>
  <source src="D:\New folder\marazoravid1.mp4" type="video/mp4">
</video>
</body>
</html>