<html>
    <head>
        <title>
            NEWS
        </title>
    </head>
    <body>
        <!-----------------navigation bar------------------>
        {% include "navigationbar.html" %}
        <!------------------- end navigation bar --------->
        <b><p>1.TOI-The participation of PK RENTAL CARS in the market.</p></b>
        <p>Andrew Knight knew the rental-car situation had gotten out of hand earlier this year; searching for vehicles, he found “sky-high” prices.<br>
        <center><img src="/static/img1.jpg" ></center>
        But on a recent trip to several West Coast cities, the software engineer based in Raleigh, N.C., was able to find cars for what he considered more reasonable rates. He ran into zero issues in Seattle. Then he landed Saturday in Los Angeles and took a shuttle to his rental-car site, where he waited for a car near a “pretty empty” parking garage.<br>
        After learning he would have to keep waiting for a vehicle to be returned – and miss the window to make it to a scheduled walking tour – Knight, 32, canceled the rental and relied on friends and ride-sharing services for the weekend trip.<br><br><br><br>
        His initial optimism that “rental cars have normalized again; this is good” turned into “oh, maybe not.”
        After a spring and summer of low inventory, soaring demand and high prices that became known as the “car-rental apocalypse,” experts say the situation is less dire. But that doesn’t mean the rental-car experience is back to normal – or that the holidays won’t bring their own mini apocalypse.
        “Things actually are better than they were,” said Chris Woronka, a leisure analyst at Deutsche Bank who follows rental-car companies. “But that’s a pretty low bar.”<br><br><br>
        He said rental-car companies have added to their fleets after selling hundreds of thousands of vehicles when people stopped traveling in 2020.
        Greg Scott, spokesman for the American Car Rental Association, said that in some cases, companies are buying vehicles back from used car auctions that they sold to six or eight months ago. Some are just holding on to their cars longer than normal, which means travelers might notice higher mileage on their rentals.
        “We probably have gotten better at perhaps responding to the demand with</p>
        <b><p>2.THE HINDU:The changing marketing stratagy of PK RENTAL CARS.</p></b>
        <p>The rental-car industry has become one of the hottest areas of the stock market lately as investors take a more bullish view on what one analyst called a historically “dysfunctional oligopoly.”
        <center><img src="/static/img2.jpg"></center>Rental-car pricing has been strong and so have used-car prices, which helps companies when they unload their fleets. The prospect of new-car shortages lasting into 2022 could mean that tight industry conditions will persist and allow high profitability to continue.<br><br><br>
        Avis Budget Group (ticker: CAR) hit another record high Friday and ended the session at $138.20, up $11.75, or 9.3%. The stock is up over 50% since Sept. 15. Avis is valued now at $9.2 billion.<br><br><br>
        Hertz Global Holdings (HTZZ), which emerged from bankruptcy on June 30, gained 25 cents Friday at $26.25 and has risen 35% this past week. Hertz was buoyed by news earlier this week that board member Mark Fields, a former Ford Motor CEO, will become interim CEO. Hertz is valued at $12 billion. Barron’s has written favorably on Hertz.</p>
        <!--------------------------------footer start----------------------->
        {% include "footer.html" %}
        <!-------------------------------footer end----------------------->
    </body>
</html>

